:root{
  --transition: : all 0.3s linear;
}


/* Change dropdown background to white and text color to black */
.dropdown-menu {
  background-color: #86898c !important;
  color: #000000 !important;
}

.dropdown-item {
  color: #000000 !important;
  cursor: pointer; /* Change cursor to pointer when hovering over items */
}

/* Change color when item is clicked or touched */
.dropdown-item:active {
  background-color: #e2e6ea !important; /* Light gray when clicked or touched */
  color: #000000 !important; /* Keep text color black when clicked */
}


/* Change hover color */
.dropdown-item:hover {
   /* background-color: #a3cbf3 !important;Change background color on hover */
  color: #fbfdfd !important; /* Change text color on hover */
  background-color: #5a5b5b;
}

/* Open dropdown on hover */
.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Remove margin from the dropdown menu */
}













li:hover{
  background-color: #4f5153;
}

.navbar{
  /* position: fixed; */
  width: 100%;
  top: 0;
  left: 0;
}

